* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F0F8FF;
}
/* ............................................................................... */
/* 最新导航栏 */


.header-ul {
	position: absolute;
	float: left;
	width: 100%;
	height: 50px;
	list-style: none;
	line-height: 50px;
	
}
#nav {
	width: 1000px;
	position: absolute;
	top: 0px;
	left: 350px;
	height: 50px;
}
#nav li {
	
	list-style: none;
	float: left;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-left: 2px;
}
.childDiv {/*设置层背景样式*/
	width: 100px;
	text-align: center;
	position: absolute;
	z-index: 2;
	display: none;
	top: 50px;
}
.childDiv li {
	width: 100%;
	height: 30px;
	line-height: 30px;
}
a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
a:hover {
	/*鼠标在文字链接上时的文字背景样式*/
	background-color: #DCDCDC;
}




/* .............................................................................. */








/* 搜索框 */
.sousuo {
	border: none;
	line-height: 50px;
	position: absolute;
	left: 1300px;
	top: 0;
}

.sousuo>.input {
	width: 180px;
	height: 25px;
	border-radius: 20px;
}

.sousuo>.button {
	height: 25px;
	width: 35px;
	text-align: center;
	border-radius: 50px;
}

.img3 {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 1600px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}


/* 轮播图 */
.car {
	width: 100%;
	height: 600px;
	overflow: hidden;
}

.car>ul {
	width: 100%;
}

.car>ul>li {
	width: 100%;

}

.car>ul>li>img {
	width: 100%;
	height: 600px;

}

/* 点 */
.car2 {
	width: 400px;
	height: 30px;

}

.lg {
	width: 400px;
	height: 30px;
	position: absolute;
	left: 800px;
	top: 550px;
}

.lg>li {
	list-style: none;
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 20px;
	background-color: #A9A9A9;
	border-radius: 100%;
}

.lg>.cur2 {
	background-color: aliceblue;
}

/* 售后服务 */
.div3 {
	background-color: #FFFFFF;
	width: 100%;
	height: 250px;
}

.div3>.ul3 {
	margin-left: 20px;
	width: 96%;
	height: 250px;
	display: flex;
	text-align: center;

}

.div3>.ul3>li {
	flex: 1;
	float: left;
	list-style: none;
	margin-left: 20px;
}

.div3>.ul3>li>img {
	transition: all 3s;
	width: 200px;
	height: 200px;

}

.div3>.ul3>li>img:hover {
	transform: rotate(360deg) scale(1.5);
}

.span1 {
	font-size: larger;
	font-weight: bolder;
}

.span2 {
	color: #A9A9A9;
}

.div4 {
	width: 100%;
	height: 90px;
	background-color: gainsboro;
}

.div4>.span4 {
	line-height: 140px;
	margin-left: 50%;
	font-size: 25px;

}

/* 手机字样 */
.div5 {
	width: 100%;

}

.div5>img {
	width: 100%;
	height: 400px;

}

/* 手机图片展示 */
.table1 {
	width: 1000px;
	margin: 0 auto;

}

.table1>tbody>tr {
	width: 800px;
	height: 200px;

}

.table1>tbody>.tr1>td {

	width: 400px;
	height: 300px;


}

.table1>tbody>tr>td {
	transition: all 1s;
	border-radius: 20px;
	text-align: center;
	background-color: #FFFFFF;
	width: 300px;
	height: 200px;
}

.table1>tbody>.tr1>td>.img1 {

	margin-left: 60px;
	width: 350px;
	height: 350px;



}

.table1>tbody>.tr2>td>.img2 {
	padding-left: 35px;
	width: 250px;
	height: 250px;
}

.span-d1 {
	font-size: 30px;
}

.span-d3 {
	font-size: larger;
	color: red;
}

.span-td2 {
	font-size: small;
	opacity: 0.5;

}

.span-td3 {
	font-size: large;
	color: #FF0000;

}

.table1>tbody>tr>td:hover {
	box-shadow: 0px 5px 25px #A9A9A9;
}
/* 耳机商品 */

.div6 {
	width: 1200px;
	margin: 0 auto;
	height: 800px;
}

.div6>.ul5 {
	text-align: center;

	width: 1200px;
	height: 300px;


}

.div6>.ul5>li {
	border-radius: 20px;
	background-color: #FFFFFF;
	float: left;
	list-style: none;
	width: 280px;
	height: 350px;
	margin-left: 10px;
	margin: 10px;
	transition: all 1s;
	position: relative;
}

.div6>.ul5>li>img {
	border-radius: 20px;
	width: 280px;
	height: 250px;
}

.div6>.ul5>li:first-child>img {
	height: 350px;
}

.div6>.ul5>li:hover {
	box-shadow: 0px 5px 25px #A9A9A9;
}

.div6>.ul5>li:first-child .span-td1 {
	position: absolute;
	z-index: 1;
	font-size: 21px;
	color: #FFFFFF;
	font-weight: bold;
	bottom: 70px;
	left: 40px;
}

.div6>.ul5>li:first-child .span-td2 {
	position: absolute;
	z-index: 1;
	font-size: smaller;
	color: #FFFFFF;
	opacity: 1;
	bottom: 50px;
	left: 70px;

}

.div6>.ul5>li:first-child .span-td3 {
	position: absolute;
	z-index: 1;
	color: gold;
	opacity: 1;
	bottom: 20px;
	left: 110px;
	font-weight: bold;
}
/* 尾部 */
.div7{
	background-color: #FFFFFF;
	width: 100%;
	height: 160px;
	
	
}
.div7>.ul7{

	width: 900px;
	height: 80px;
	margin: 0 auto;
	
	text-align: center;
	
}
.div7>.ul7>li{
	margin-left: 30px;
	width: 110px;
	height: 80px;

	float: left;
	list-style: none;
	
	
}
.div7>.ul7>li>img{
	width: 60px;
	height: 40px;
}
.div7>.ul7>li>.span7{
	font-size: 3px;
	opacity: 0.5;
}
/* 分割线 */
.hr{
	margin: 0 auto;
	width: 80%;
	
	
	
}
/* 尾部了 */
.div7>.ul8{
	width: 1000px;
	height: 20px;
	margin: 0 270px;
	
	text-align: center;
}
.div7>.ul8>li{
	margin-left: 5px;
	width: 70px;
	height: 20px;
	float: left;
	list-style: none;
	
	
}
.div7>.ul8>.li7{
	width: 120px;
}
.ul8>li>.span7{
	font-size: 3px;
	opacity: 0.5;
}

/* 最后最后 */
.div7>p{
	width: 1000px;
	margin-top: 20px;
	margin: 0 250px;
	
}
.div7>p>.span8{
	font-size: 2px;
	opacity: 0.5;
}